<?php
/**
 * @var \GetNoticed\Manufacturers\Block\Manufacturer $block
 */
?>
<?php if ($productGrid = $block->getChildBlock('product.grid') || $block->getSeoDescription()): ?>
    <div id="seo-manufacturer">
        <?php if ($productGrid = $block->getChildBlock('product.grid')): ?>
            <?= $productGrid->toHtml(); ?>
        <?php endif; ?>

        <?php if ($block->getSeoDescription()): ?>
            <h1><?= $block->escapeHtml($block->getPageTitle()) ?></h1>
            <?= $block->getSeoDescription() ?>
        <?php endif; ?>
    </div>
<?php endif; ?>