<?php
/**
 * @var \GetNoticed\Manufacturers\Block\Manufacturer $block
 */
?>
<section id="visual-manufacturer">
    <h1><?= $block->escapeHtml($block->getPageTitle()) ?></h1>
    <p><?= $block->escapeHtml($block->getDescription()) ?></p>
</section>