<?php
/** @var \GetNoticed\Manufacturers\Block\Product\ProductList\Manufacturers $block */
?>
<?php
switch ($type = $block->getType()) {
    case 'more-from-manufacturer':
        /** @var \Magento\Catalog\Block\Product\ProductList\Related $block */
        if ($exist = $block->getItems()->getSize()) {
            $type = 'related';
            $class = $type;

            $image = 'related_products_list';
            $title = __('More from %1', $block->getManufacturer()->getName());
            $items = $block->getItems();
            $limit = 0;
            $shuffle = 0;
            $canItemsAddToCart = $block->canItemsAddToCart();

            $showAddTo = true;
            $showCart = false;
            $templateType = null;
            $description = false;

            $moreUrl = $block->getManufacturer()->getUrl();
            $moreLabel = __('View all %1 products', $block->getManufacturer()->getName());
        }
        break;

    case 'other':
        break;
}
?>
<?php if ($exist): ?>
    <?php if ($type == 'related' || $type == 'upsell'): ?>
        <?php if ($type == 'related'): ?>
            <div class="block <?php /* @escapeNotVerified */
            echo $class; ?>" data-mage-init='{"relatedProducts":{"relatedCheckbox":".related.checkbox"}}' data-limit="<?php /* @escapeNotVerified */
            echo $limit; ?>" data-shuffle="<?php /* @escapeNotVerified */
            echo $shuffle; ?>">
        <?php else: ?>
            <div class="block <?php /* @escapeNotVerified */
            echo $class; ?>" data-mage-init='{"upsellProducts":{}}' data-limit="<?php /* @escapeNotVerified */
            echo $limit; ?>" data-shuffle="<?php /* @escapeNotVerified */
            echo $shuffle; ?>">
        <?php endif; ?>
    <?php else: ?>
        <div class="block <?php /* @escapeNotVerified */
        echo $class; ?>">
    <?php endif; ?>
    <div class="block-title title">
        <strong id="block-<?php /* @escapeNotVerified */
        echo $class ?>-heading" role="heading" aria-level="2"><?php /* @escapeNotVerified */
            echo $title; ?></strong>
        <?php if ($moreUrl && $moreLabel): ?>
            &nbsp; <a href="<?= $moreUrl ?>"><?= $moreLabel ?></a>
        <?php endif; ?>
    </div>
    <div class="block-content content" aria-labelledby="block-<?php /* @escapeNotVerified */
    echo $class ?>-heading">
        <div class="products wrapper grid products-grid products-<?php /* @escapeNotVerified */
        echo $type; ?>">
            <ol class="products list items product-items">
                <?php $iterator = 1; ?>
                <?php foreach ($items as $_item): ?>
                    <?php if ($type == 'related' || $type == 'upsell'): ?>
                        <?php /* @escapeNotVerified */
                        echo ($iterator++ == 1) ? '<li class="item product product-item" style="display: none;">' : '</li><li class="item product product-item" style="display: none;">' ?>
                    <?php else: ?>
                        <?php /* @escapeNotVerified */
                        echo ($iterator++ == 1) ? '<li class="item product product-item">' : '</li><li class="item product product-item">' ?>
                    <?php endif; ?>
                    <div class="product-item-info">
                        <?php /* @escapeNotVerified */
                        echo '<!-- ' . $image . '-->' ?>
                        <a href="<?php /* @escapeNotVerified */
                        echo $block->getProductUrl($_item) ?>" class="product photo product-item-photo">
                            <?php echo $block->getImage($_item, $image)->toHtml(); ?>
                        </a>
                        <div class="product details product-item-details">
                            <strong class="product name product-item-name">
                                <a class="product-item-link"
                                   title="<?php echo $block->escapeHtml($_item->getName()) ?>"
                                   href="<?php /* @escapeNotVerified */
                                   echo $block->getProductUrl($_item) ?>">
                                    <?php echo $block->escapeHtml($_item->getAttributeText('manufacturer')); ?>
                                    <span><?php echo $block->escapeHtml($_item->getData('product_model')); ?></span>
                                </a>
                            </strong>

                            <?php if ($generalInformationBlock = $block->getChildBlock('product.general-information')):
                                /** @var \GetNoticed\Vitech\Block\Frontend\Catalog\Product\General\Information $generalInformationBlock */ ?>
                                <?php echo $generalInformationBlock->setProductFromId($_item->getId())->toHtml(); ?>
                            <?php endif; ?>

                            <?php /* @escapeNotVerified */
                            echo $block->getProductPrice($_item); ?>

                            <?php if ($templateType): ?>
                                <?php echo $block->getReviewsSummaryHtml($_item, $templateType) ?>
                            <?php endif; ?>

                            <!-- add to cart? -->

                            <?php if ($showAddTo || $showCart): ?>
                                <div class="product actions product-item-actions">
                                    <?php if ($showCart): ?>
                                        <div class="actions-primary">
                                            <?php if ($_item->isSaleable()): ?>
                                                <?php if ($_item->getTypeInstance()->hasRequiredOptions($_item)): ?>
                                                    <button class="action tocart primary"
                                                            data-mage-init='{"redirectUrl": {"url": "<?php /* @escapeNotVerified */
                                                            echo $block->getAddToCartUrl($_item) ?>"}}' type="button"
                                                            title="<?php /* @escapeNotVerified */
                                                            echo __('Add to Cart') ?>">
                                                        <span><?php /* @escapeNotVerified */
                                                            echo __('Add to Cart') ?></span>
                                                    </button>
                                                <?php else: ?>
                                                    <?php $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
                                                    $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_item), ['product' => $_item->getEntityId()])
                                                    ?>
                                                    <button class="action tocart primary"
                                                            data-post='<?php /* @escapeNotVerified */
                                                            echo $postData; ?>'
                                                            type="button" title="<?php /* @escapeNotVerified */
                                                    echo __('Add to Cart') ?>">
                                                        <span><?php /* @escapeNotVerified */
                                                            echo __('Add to Cart') ?></span>
                                                    </button>
                                                <?php endif; ?>
                                            <?php else: ?>
                                                <?php if ($_item->getIsSalable()): ?>
                                                    <div class="stock available"><span><?php /* @escapeNotVerified */
                                                            echo __('In stock') ?></span></div>
                                                <?php else: ?>
                                                    <div class="stock unavailable"><span><?php /* @escapeNotVerified */
                                                            echo __('Out of stock') ?></span></div>
                                                <?php endif; ?>
                                            <?php endif; ?>
                                        </div>
                                    <?php endif; ?>

                                    <?php if ($showAddTo): ?>
                                        <div class="secondary-addto-links actions-secondary" data-role="add-to-links">
                                            <?php if ($addToBlock = $block->getChildBlock('addto')): ?>
                                                <?php echo $addToBlock->setProduct($_item)->getChildHtml(); ?>
                                            <?php endif; ?>
                                        </div>
                                    <?php endif; ?>
                                </div>
                            <?php endif; ?>
                        </div>
                    </div>
                    <?php echo ($iterator == count($items) + 1) ? '</li>' : '' ?>
                <?php endforeach ?>
            </ol>
        </div>
    </div>
    </div>
<?php endif; ?>